body {
    font-size: 18pt;
    color: black;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fw-dog.ru%2Fwallpaper%2Fsigarety-vodka-stolichnaya-butylka-belomorkanal%2Fid%2F339699%2F&psig=AOvVaw3Omfp6sUn6JSvpbFhLWdC_&ust=1591446340103000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMCev-DV6ukCFQAAAAAdAAAAABAI);
}

.sects {
    background-color: red;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 40pt;
    color: blue;
}

.Drink_Font {
    font-size: 25pt;
    text-align: right;
    margin-top: 10px;
    color: black;
    font-style: italic;
}

.ButilkaVodki {
    font-size: 16pt;
}