h1 {
    color: blue;
    background-color: red;
}

.RD {
    color: white;
    background-color: tomato;
}

.sects {
    background-color: red;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 30pt;
    font-style: italic;
    color: blue;
}

.Drink_Font {
    font-size: 25pt;
    text-align: right;
    margin-top: 10px;
}